{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME  home-section section-hero overlay bg-image  style="background-image: url('{% static 'images/hero_1.jpg' %}');" -->

<section class="pt-5 overlay bg-image bg-light"  >

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-success font-weight-bold" style="font-family: 'Handlee', cursive;"  >JOBMAN GHANA</h1>
          <p class="h5" style="color: dimgrey; " >A sure place to get your dream job</p>
        </div>
        {% if request.user.role == 'employee'  or request.user.is_anonymous %}
        <form method="GET" action="{% url 'jobapp:search_result' %}" class="search-jobs-form">
          {% include 'jobapp/search.html' %}
        </form>
        {%endif%}
        {% if request.user.is_recruiter %}
        <section class="bg-purple ">
          <div class="p-2">
            <form method="POST" action="{% url 'jobapp:recruit_search' %}" class="search-jobs-form">
              
              {%csrf_token%}

  <div class="row mb-5 mx-auto">
    <div class="col-12 col-sm-6 col-md-6 col-lg-12 mb-4 mb-lg-2">
      <input type="text"  name="skill" class="form-control form-control-lg" placeholder="Enter your job description here to get resumes of candidates that matches the description">
    </div>
    <!--
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4 mb-lg-2">
      <input type="text"  name="location" class="form-control form-control-lg" placeholder="Location">
    </div>
  -->
   
    <div class="col-12 col-sm-6 col-md-6 col-lg-12 mb-4 mb-lg-0">
      <button type="submit" class="btn btn-lg btn-block text-white btn-search" style="background-color: teal;"><span
          class="icon-search icon mr-2"></span>Search Resumes</button>
    </div>
  </div>

            </form>
            <!--
            <h3 class="text-center">HOW WE FUNCTION ?</h3>
            <p class="text-white lead"><span class="text-warning">JOB</span>MAN GHANA Job Ranking algorithm reduces the burden of recruiter companies or company. The algorithm makes use of 
              artificial intelligence to extract core skills. The content of the applicant resume is preprocessed making use of natural language preprocessing
              and it is compared to job description you have uploaded. Most companies receive so many resumes for a job posting and fail to go through successfully and 
              therefore might not get the suitable candidate for the job. Jobman is here to make your recruiting company easy.

            </p>
          </div>
          
        </section>
        <section class="bg-primary my-2 p-2">
          <div class="p-2">
            <h3 class="text-center">2</h3>
            <p class="text-white lead">The employer or recruiter posts a job on the job platform. Now the applicant resume are ranked based
              on the algorithm score and the suitable candidates are left in your hands to choose. We aim to unburden you and make you get 
              right candidate for the position.

            </p>
          </div>
        </section>
      -->
        {% endif %}
      </div>
    </div>
  </div>
  <a href="#next" class="scroll-button smoothscroll">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

{%if request.user.is_authenticated%}
{%if request.user.role == 'employee'%}
<section class="pt-2 mt-2">
  <div class="container">
<div class="row align-items-center">
  <div class="col-md-8">
    <h2 class="" style="color:teal;">Want a good job matching?</h2>
    <p class="mb-0 lead" style="color: teal;">Upload your resume for better recommendations</p>
  </div>
  <div class="col-md-3 ml-auto">
    <a href="{% url 'account:edit-profile' request.user.id %}" class="btn btn-warning btn-block btn-lg">upload resume</a>
    
  </div>
</div>
</div>
<section>
  {%endif%}
{%endif%}

<section id="ajax_listing_paginattion" class="pt-4 mt-2">
  <div class="container">

    {% if page_obj %}
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-success" style="font-family: 'Handlee', cursive;" >RECENT JOB POSTINGS</h2>
      </div>
    </div>


    <ul id="job" class="job-listings mb-5">
      {% for job in page_obj %}
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{% url 'jobapp:single-job' job.id %}"></a>
        <div class="job-listing-logo">
          <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co"
            class="img-fluid">
        </div>

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2 class="text-success">{{ job.title }}</h2>
            <strong class="text-success">{{ job.company_name }}</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> <span class="text-success">{{ job.location }} </span>
          </div>
          <div class="job-listing-meta">
            {% if job.job_type == '1' %}
            <span class="badge badge-success">
              Full Time
            </span>
            {% elif job.job_type == '2'%}
            <span class="badge badge-danger">
              Part Time
            </span>
            {% else  %}
            <span class="badge badge-info">
              Internship
            </span>
            {% endif %}
          </div>
        </div>

      </li>
      {% endfor %}
    </ul>
    {% include 'jobapp/paginator.html' %}
  </div>
  {% endif %}
</section>

{% if request.user.is_authenticated %}
{% if request.user.role == "employee" %}
{% if request.user.resume_text %}
<section class="pt-5">
  <div class="container">
    <h3 class="text-center text-dark">Jobs Recommended for you</h5>
    <div class="row">
      {% for jobs in recommended_jobs %}
      <div class="col-md-10 mx-auto mb-2">
        <a href="{% url 'jobapp:single-job' jobs.1 %}">
        <div class="card p-1">
          <div class="d-flex align-items-center justify-content-between">
            <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co" />
            <div>
              <p class="font-weight-bold">{{ jobs.2 }}</p>
              <p class="font-weight-bold">published by: {{ jobs.7 }}</p>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{ jobs.4 }}
            </div>
            <div>
              
              
            </div>

          </div>
        </div>
      </a>
      </div>
      {% endfor %}


  
    </div>
  </div>
  
</section>
{%endif%}
{%endif%}
{%endif%}


<section class="p-5 bg-light mb-3 text-center">
  <h2  class="mx-auto text-success" >Recent Tech blogs</h1>
    <div class="container">
      <div class="row ">
        {% for data in news%}
        <div class="col-md-4 mb-3">
          <a href="{% url 'jobapp:single-new' data.id %}">
          <div class="card ">
           
            <img src="{{data.imageurl}}" alt="N/A"  />
            <div class="card-title">
              <h5 class="text-truncate font-weight-bold">title: {{ data.title }}</h5>
            </div>
            
           
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
      
      
    </div>

</section>



<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
  <div class="container">
    {% if request.user.is_recruiter %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Want To Hire?</h2>
        <p class="mb-0 text-white lead">Our platform recommends the best candidates for your job positions</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'jobapp:create-job' %}" class="btn btn-warning btn-block btn-lg">Post Your Job</a>
      </div>
    </div>
    {% elif request.user.role == "employee" %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Want a good job matching?</h2>
        <p class="mb-0 text-white lead">Upload your resume for better recommendations</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'account:edit-profile' request.user.id %}" class="btn btn-warning btn-block btn-lg">upload resume</a>
        
      </div>
    </div>
    {% else %}
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">Please upload resume for better job recommendations</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="{% url 'account:employee-registration' %}" class="btn btn-warning btn-block btn-lg">upload resume</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>


{% endblock %}
{% block extra_scripts %}
<script>

$("#ajax_listing_paginattion" ).delegate( "a#ajax_paginator", "click", function( event ) {
		event.preventDefault();
    joblist = ``
    next_paging = ``
    prev_paging = ``
    page_navigator = ``
		var page_ref = $(this).attr('href');
    var page_number = page_ref.slice(6);
    console.log('page_number', page_number);
		$.ajax({
					type: "GET",
					url: "{% url 'jobapp:home' %}", 
					data : {    
          page : page_number, 
				},
        success: function (response) {
          $('#job').html('')
                    response.job_lists.map(function (job) {

                        joblist+=`
                          <li id="next" class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                            <a href="/job/${job.id}/"></a>
                              <div class="job-listing-logo">
                                <img src="{% static 'images/i.jpg' %}" alt="Free Website Template by Free-Template.co"
                                  class="img-fluid">
                              </div>

                              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                  <h2>${ job.title }</h2>
                                  <strong>${ job.company_name }</strong>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                  <span class="icon-room"></span>${ job.location } 
                                </div>
                                
                                <div class="job-listing-meta">
                                  ${ job.job_type == '1'
                                  ?  
                                  `<span class="badge badge-success">
                                    Full Time
                                  </span>`
                                  : 
                                  job.job_type == '2' 
                                  ?  
                                  `<span class="badge badge-danger">
                                    Part Time
                                  </span>` 
                                  :
                                  `<span class="badge badge-info">
                                    Internship
                                  </span>
                                  `
                                  }
                                </div>
                              </div>
                            </li>
                        ` 
                      })

                        $('#job').html(joblist)
                        response.next_page_number != null ?
                        next_paging+=`<a id="ajax_paginator" class="next" href="?page=${ response.next_page_number }">Next</a>`
                        : ''

                        $('div>#next_page').html(next_paging)
                        $('div>.active').removeClass('active')
                        $('div>.ajax_paginator_'+response.current_page_no).addClass('active')
                        
                        // .attr('href','http://example.com')
                        // .removeAttr("href");
                        
                        response.current_page_no > 1 ?
                        prev_paging+=`<a id="ajax_paginator" href="?page=${ response.prev_page_number }" class="prev">Prev</a>`
                        : ''
                        $('div>#prev_page').html(prev_paging)

                        page_navigator+=`Showing ${ response.current_page_no } of ${ response.no_of_page } Pages`
                        $('div>#page_navigator').html(page_navigator)
                      
                    },
                    
				error: function () {
					alert('Error Occured');
				}
			});

	});  
  
  
	</script>
{% endblock %}


