{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Update Profile</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <a href="{% url 'jobapp:home' %}">upload resume</a> <span class="mx-2 slash">/</span>
          <a href="{% url 'jobapp:home' %}">update personal info</a> <span class="mx-2 slash">/</span> 
          <a href="{% url 'jobapp:home' %}">work experience</a> <span class="mx-2 slash"></span> 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row mar_lr_0">
      <div class="col-md-9 left_container">
        <!-- side_filter_section starts here -->
        <div class="row">
          <!-- job_alert_form starts here -->
          <div class="col-md-12">
            <div class="job_alert_form">
             <div class="panel panel-default">
              <div class="panel-heading text-center text-uppercase">Tell us what kind of jobs you want</div>
              <div class="panel-body">
                <form name="jobalertform" id="jobalertform" method="post" class="form-horizontal">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Name your Job Alert<span class="important">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Enter a name that will help you recognize this Job Alert" name="name" id="name">
                    </div>
                  </div>

                  {% if not request.user.is_authenticated %}
                   <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Email Address  <span class="important">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Email Address" name="email" id="email">
                    </div>
                  </div>
                  {% else %}
                    <input type="hidden" class="form-control" placeholder="Email Address" name="email" id="email" value="{{request.user.email}}">
                  {% endif %}

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Skills<span class="important">*</span></label>
                    <div class="col-sm-9">
                      <select class="location form-control skills" multiple="multiple" name="skill" id="skill">
                        <option value="">Enter the skill</option>
                        {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.name }}</option>
                        {% endfor %}
                      </select>
                      <span class="skill_err"></span>
                    </div>
                  </div>
                  
                 
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Job Role</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Specify the desired role where you want to work" id="role" name="role">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Experience</label>
                    <div class="col-md-9 mar_lr_0">
                        <div id="div-min_year" class="col-md-6 mb-3">
                          <select class="form-control experience" name="min_year" id="min_year" style="width:98%">
                            <option value="">Min Year</option>
                            {% for year in years %}
                            <option value="{{ year.0 }}" id="{{ forloop.counter }}">{{ year.1}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div id="div-min_month" class="col-md-6 pad_lr_0">
                          <select class="form-control experience" name="max_year" id="max_year">
                            <option value="">Max year</option>
                            {% for year in years %}
                            <option value="{{ year.0 }}" class="max_experience" id="{{ forloop.counter }}">{{ year.1}}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Salary</label>
                    <div class="col-sm-9  mar_lr_0">
                    <div class="col-sm-6 mb-2" id='min_salary'>
                      <input type="text" class="form-control" placeholder="Minimum Salary" name="min_salary" style="width:98%"></div>
                    <div class="col-sm-6 pad_lr_0" id="max_salary">
                     <input type="text" class="form-control" placeholder="Maximum Salary" name="max_salary" ></div>
                    <input type="hidden" class="form-control" placeholder="Email" name="user_authenticated" id="user_authenticated" value="{% if not request.user.is_authenticated %}False{%else%}True{%endif%}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary">Create Job Alert</button>
                      <button type="button" class="btn btn-danger cancelbutton">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </div>
          <!-- job_alert_form ends here -->
        </div>
      </div>
      <!-- Left section starts here -->
      <div class="col-md-3 right_container" style="top:7px;">
      <div class="similar_job_posts" style="margin-bottom:10px;">
        <div>
          <h3>JOB ALERTS CREATED</h3>
          {% for alert in alerts %}
          <a href="{% url 'jobapp:job-alert-result' alert.id %} ">
          <div class="card px-1">
          <div class="">
            
              
           <p class="lead">Alert name: {{ alert.name }}</p> 
           <p class="lead"> Role: {{ alert.role }}</p> 
           
            
          {% endfor %}
            </div>
            
          </div>
          </a>
         
        </div>
        <div class="py-2 my-3">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpeeljobs%2F&width=300&height=150&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=892560280818752" width="300" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      
      
    </div>
  </div>
</section>


{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
   $(".cancelbutton").click(function (e) {
      {% if request.user.is_authenticated %}
        window.location = "{% url "jobapp:home" %}";
      {% else %}
        window.location = "/";
      {% endif %}
  });

  $("form#jobalertform").submit(function (e) {
      e.preventDefault();
      $.post("/alert/create/", $("form#jobalertform").serialize(), function (data) {
          $('.hint').remove();
          if (data.error) {
              if (data.response_message) {
                  console.log(data.response_message, 'Error!')
              }
              $('.hint').remove();
              for (var key in data.message) {
                if(key == 'skill' ){
                  $('.skill_err').html('<span class="hint">' + data.message[key] + '</span>');
                }
                else if(key == 'min_salary' || key == 'max_salary'){
                  $('#' + key).append('<span class="hint">' + data.message[key] + '</span>');
                }
                else{
                  $('#' + key).after('<span class="hint">' + data.message[key] + '</span>');
                }
              }
          } else {
            window.alert("Alert Created Successfully", 'Success', '/alert/results/' + data.alert_id + '/')
          }
      }, 'json');
  });

  $("select.cities").select2({placeholder: "Select the city", maximumSelectionSize: 100});

$("select.skills").select2({placeholder: "Select the skill", maximumSelectionSize: 100});
$("select.industry").select2({placeholder: "Select the industry", maximumSelectionSize: 100});
$("select#job_skills").select2({placeholder: "Select here", maximumSelectionSize: 100});


$( "select#min_year" ).on('change',function(e) {
  $('select#max_year').val('');
   $('select#max_year option').addClass('max_experience');
  for(i=$('select#min_year option:selected').attr('id');i<$('select#min_year option').length;i++)
    {
      $('select#max_year option[id='+ i +']').removeClass('max_experience');
    }
});
  </script>

{% endblock %}