{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- HOME -->


<section class=" bg-light overlay inner-page bg-image p-2" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="font-weight-bold" style="color:teal; font-family: 'Handlee', cursive;">INTERVIEW INVITATION</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash text-dark">/</span>
          <span class="" style="color:teal; font-family: 'Handlee', cursive;"><strong>zoom link</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card p-3">
                    <p>meeting url : {{url}}</p>
                    <p>Password    :  {{password}}</p>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}