{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">{{company.first_name}}</h1>
        <div class="mt-3">
          <h3 class="text-white font-weight-bold'">{{ news.title }}</h3>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="site-section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
       <div class="card p-2">
        <p>Company : {{company.first_name}}</p>
        <p>Location : {{company.last_name}}</p>
       </div>
        
       

      </div>
      <div class="col-md-8">
        <form method="post">
          <div class="form-group">
            <input type="hidden" name="company_name"  class="form-control" value="{{company.first_name}}}">
          </div>
          <div class="form-group">
            <input type="hidden" name="location" class="form-control" values="{{company.last_name}}" >
          </div>
          <div class="form-group">
            <textarea class="form-control" cols="30"  placeholder="enter your review"></textarea>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

{% endblock %}